@model IEnumerable<WebApplication1.Models.Post>

@{
    var category = ViewBag.Category as WebApplication1.Models.Category;
    ViewBag.Title = category.Name;
    Layout = "_Layout";
}

<h2>@category.Name</h2>

<div class="mb-3">
    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-info">Wstecz</a>
    <a asp-controller="Post" asp-action="Create" asp-route-categoryId="@category.CategoryId" class="btn btn-success">+ Stwórz nowy post</a>
</div>

<div class="list-group my-4">
    @foreach (var post in Model)
    {
        @* Szczegóły *@
        <a asp-controller="Post" asp-action="Details" asp-route-id="@post.PostId"
           class="list-group-item mb-3 rounded shadow-sm p-4 d-flex align-items-center justify-content-around text-decoration-none">
            <!-- Sekcja tytułu po lewej stronie -->
            <div class="flex-grow-1">
                <h4 class="mb-1 text-dark">@post.Title</h4>
                <small class="text-muted">Created on: @post.CreatedAt.ToString("yyyy-MM-dd HH:mm")</small>
            </div>

            <!-- Sekcja daty pośrodku -->
            <div>
                <button asp-controller="Post" asp-action="Edit" asp-route-id="@post.PostId" class="btn btn-outline-warning btn-sm px-3 py-2 ">Edytuj</button>
                <form asp-controller="Post" asp-action="Delete" asp-route-id="@post.PostId" method="post" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger btn-sm px-3 py-2">Usuń</button>
                </form>
            </div>

            <!-- Sekcja przycisków po prawej stronie -->
        </a>
    }
</div>

<div class="pagination mt-3">
    @if (ViewBag.CurrentPage > 1)
    {
        <a asp-action="Details" asp-route-id="@ViewBag.Category.CategoryId" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)" class="btn btn-secondary">Poprzednia strona</a>
    }

    <span>Strona @ViewBag.CurrentPage z @ViewBag.TotalPages</span>

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a asp-action="Details" asp-route-id="@ViewBag.Category.CategoryId" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)" class="btn btn-secondary">Następna strona</a>
    }
</div>